body {
    background-color: paleturquoise;
    margin: 0px;
}

h1 {
    margin-top: 0px;
}

div {
    border: solid;
    border-width: 0;
    height: 100px;
    width: 100px;
    margin: 0px;
    position: absolute;
    display: inline-block;
}

.blue {
    background-color: #333456;
}

.pink {
    background-color: lightsalmon;
    left: 100px;
    top: 100px;
}

.lt-blue {
    background-color: lightskyblue;
    left: 200px;
    top: 200px;
}

.web {
    text-decoration: underline;
}